.basicCard {
  max-height: '556px';
  font-family: 'bitter';
}

.cardSubtitle {
  font-size: 12px;
  text-align: left;
  color: #322931;
  font-weight: bold;
}

.cardTitle {
  font-size: 32px;
  font-family: bitter;
  font-weight: bold;
  text-align: left;
  color: #463B83;
  margin-bottom: 0px;
}

.roleIcon {
  position: relative;
  bottom: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
}

.cardTextHighlight {
  color: #463B83;
  font-weight: bold;
}

.cardText {
  font-size: 16px;
  font-family: bitter;
  text-align: left;
  color: #686167;
}

.cardTips {
  font-size: 16px;
  font-family: bitter;
  text-align: left;
  color: #686167;
}
